@tailwind base;
@tailwind components;
@tailwind utilities;

html{
      @apply scrollbar-thin scrollbar-track-white scrollbar-thumb-primary;
}
html.dark{
      @apply scrollbar-track-black;
}
html.cv,
html.dashboard{
      @apply scrollbar-thin scrollbar-track-white scrollbar-thumb-secondaryCV;
}
.humberger.active :nth-child(1){
      @apply absolute w-6 rotate-45 -translate-y-3;
}
.humberger.active :nth-child(2){
      @apply absolute scale-0 ;
}
.humberger.active :nth-child(3){
      @apply absolute -rotate-45 translate-y-1;
}
.trix-button-group.trix-button-group--file-tools {
      @apply hidden;
}
li.pendidikan::before{
      content:"·";
      font-size:100px;
      vertical-align:middle;
      line-height:0px;
      position: absolute;
      left: -12px;
}
#login-back{
      @apply h-screen bg-black;
}